
  .marketplace-main-grid {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, min-content) 20px minmax(min-content, min-content) 20px minmax(min-content, min-content) 20px minmax(min-content, min-content);
    grid-template-areas:
      "header"
      "."
      "headline"
      "."
      "contents"
      "."
      "footer";
  }



  .marketplace-main-contents {
    grid-area: contents;
  }



  /*///////////////////////////////////////////////////////////*/

  .marketplace-main-headline {
    grid-area: headline;
    border: 1px solid #d1d1d1;
    background-color: white;
    padding: 20px;
    margin: 20px;
  }

  /*///////////////////////////////////////////////////////////*/

  .marketplace-main-header {
    grid-area: header;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, min-content) minmax(min-content, min-content) minmax(min-content, min-content);
    grid-template-areas:
    "oracle menu user"
    "marketplace menu user"
    "builtby menu login";
    border: 1px solid #d1d1d1;
    background-color: white;
    padding: 20px;
    margin: 20px;
  }

  .marketplace-main-header-marketplace {
    grid-area: marketplace;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .marketplace-main-header-builtby {
    grid-area: builtby;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-header-oracle {
    grid-area: oracle;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-header-menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-header-login {
    grid-area: login;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-header-user {
    grid-area: user;
    display: flex;
    align-items: center;
    justify-content: center;

  }


  /*/////////////////////////////////////////////////////////////*/

  .marketplace-main-footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "aboutTitle ratingTitle downloadsTitle ."
    "aboutContent ratingContent downloadsContent social";
    border: 1px solid #d1d1d1;
    background-color: white;
    padding: 20px;
    margin: 20px;
  }

  .marketplace-main-footer-aboutTitle {
    grid-area: aboutTitle;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-footer-ratingTitle {
    grid-area: ratingTitle;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-footer-downloadsTitle {
    grid-area: downloadsTitle;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-footer-aboutContent {
    grid-area: aboutContent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-footer-ratingContent {
    grid-area: ratingContent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-footer-downloadsContent {
    grid-area: downloadsContent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marketplace-main-footer-social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*///////////////////////////////////////////////////////////////*/
  