
  .marketplace-main-grid {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: 50px 5px 50px 5px minmax(1000px, max-content) 5px 52px;
    grid-template-areas:
      "header"
      "."
      "Publicity"
      "."
      "componentsArea"
      "."
      "footer";
  }

  .marketplace-main-header {
    grid-area: header;
  }

  .marketplace-main-Publicity {
    grid-area: Publicity;
  }

  .marketplace-main-componentsArea {
    grid-area: componentsArea;
  }

  .marketplace-main-footer {
    grid-area: footer;
  }