<!-- <ojet-loading data-bind="visible: !loaded()"></ojet-loading>
<ojet-errorloading data-bind="visible: errorloading()"></ojet-errorloading> -->
<oj-messages messages="[[messages]]" position="{}" display="notification"></oj-messages>

    <div class="marketplace-grid-components">

      <div class="atr-component-whitebox marketplace-grid-menu1">
        <oj-navigation-list>
          <ul>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Buttons
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Conveyoer Belt
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Flee Picker
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Firm Strip
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Images
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Menus
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Messages
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Progress
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Graphics
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Progress List
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Tags
              </a>
            </li>
            <li id="foo">
              <a href="#">
                <span class="oj-navigationlist-item-icon demo-icon-font-24 demo-palette-icon-24">
                </span>
                Toolbars
              </a>
            </li>
          </ul>
        </oj-navigation-list>
      </div>

      <div class="marketplace-grid-searchBar">

        <div class="atr-component-whitebox marketplace-searchbar-components">

          <div class="marketplace-searchbar-filter">
            <oj-input-text style="height: 100px" data-bind="attr: {placeholder: keywordsPlaceholder}" value="{{keywordsValue}}"
              required></oj-input-text>
          </div>

          <oj-button class="marketplace-searchbar-searchButton atr-button-highlight"><span data-bind="text: searchButtonText"></span></oj-button>

          <div class="help-item-center marketplace-searchbar-dropdown">
            <oj-select-one value="{{sortValue}}">
              <oj-option value="All">Sort: Newest Items</oj-option>
              <oj-option value="rat">Rating</oj-option>
              <oj-option value="dow">Downloads</oj-option>
            </oj-select-one>
          </div>

        </div>

      </div>


      <div class="help-item-center marketplace-grid-cenas1">

        <div class="atr-component-whitebox marketplace-previewComponent-grid">

          <div class="marketplace-title">
            <span class="marketplace-title" data-bind="text: marketplacetitle"></span>
          </div>

          <div class="marketplace-c">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: left; justify-content: left"
              data-bind="text: categoryText"></oj-text>
          </div>

          <div class="marketplace-updated">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: right; justify-content: right"
              data-bind="text: updatedText"></oj-text>
          </div>

          <div class="marketplace-Image">
            <img style="width: 560px; height:300px" src="./css/images/teste.png">
          </div>

          <div class="help-item-center marketplace-logo">
            <img style="width: 90px; height:60px" src="./css/images/cap_logo.png">
          </div>

          <div class="marketplace-user">
            <img style="height: 22px; position: relative; top: 4px;" src="./css/images/flags/France.png"></img><oj-text class="marketplace-text" style="justify-content: right;"
              data-bind="text: userText"></oj-text>
          </div>

          <div class="marketplace-rating">
            <oj-text class="marketplace-text" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: ratingText"></oj-text>
          </div>

          <oj-button class="marketplace-dButton atr-button-highlight"><span data-bind="text: downloadButtonText"></span></oj-button>

          <div class="marketplace-cName">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: companieNameText"></oj-text>
          </div>

          <div class="marketplace-votes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: votesText"></oj-text>
          </div>

          <div class="marketplace-dTimes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: downloadTimesText"></oj-text>
          </div>

        </div>
      </div>

      <div class="help-item-center marketplace-grid-cenas2">

        <div class="atr-component-whitebox marketplace-previewComponent-grid">

          <div class="marketplace-title">
            <span class="marketplace-title" data-bind="text: marketplacetitle"></span>
          </div>

          <div class="marketplace-c">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: left; justify-content: left"
              data-bind="text: categoryText"></oj-text>
          </div>

          <div class="marketplace-updated">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: right; justify-content: right"
              data-bind="text: updatedText"></oj-text>
          </div>

          <div class="marketplace-Image">
            <img style="width: 560px; height:300px" src="./css/images/teste.png">
          </div>

          <div class="help-item-center marketplace-logo">
            <img style="width: 90px; height:60px" src="./css/images/cap_logo.png">
          </div>

          <div class="marketplace-user">
            <img style="height: 22px; position: relative; top: 4px;" src="./css/images/flags/France.png"></img><oj-text class="marketplace-text" style="justify-content: right;"
            data-bind="text: userText"></oj-text>
        </div>

          <div class="marketplace-rating">
            <oj-text class="marketplace-text" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: ratingText"></oj-text>
          </div>

          <oj-button class="marketplace-dButton atr-button-highlight"><span data-bind="text: downloadButtonText"></span></oj-button>

          <div class="marketplace-cName">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: companieNameText"></oj-text>
          </div>

          <div class="marketplace-votes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: votesText"></oj-text>
          </div>

          <div class="marketplace-dTimes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: downloadTimesText"></oj-text>
          </div>

        </div>

      </div>

      <div class="help-item-center marketplace-grid-cenas3">

        <div class="atr-component-whitebox marketplace-previewComponent-grid">

          <div class="marketplace-title">
            <span class="marketplace-title" data-bind="text: marketplacetitle"></span>
          </div>

          <div class="marketplace-c">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: left; justify-content: left"
              data-bind="text: categoryText"></oj-text>
          </div>

          <div class="marketplace-updated">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: right; justify-content: right"
              data-bind="text: updatedText"></oj-text>
          </div>

          <div class="marketplace-Image">
            <img style="width: 560px; height:300px" src="./css/images/teste.png">
          </div>

          <div class="help-item-center marketplace-logo">
            <img style="width: 90px; height:60px" src="./css/images/cap_logo.png">
          </div>

          <div class="marketplace-user">
            <img style="height: 22px; position: relative; top: 4px;" src="./css/images/flags/Portugal.png"></img><oj-text class="marketplace-text" style="justify-content: right;"
            data-bind="text: userText"></oj-text>
        </div>

          <div class="marketplace-rating">
            <oj-text class="marketplace-text" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: ratingText"></oj-text>
          </div>

          <oj-button class="marketplace-dButton atr-button-highlight"><span data-bind="text: downloadButtonText"></span></oj-button>

          <div class="marketplace-cName">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: companieNameText"></oj-text>
          </div>

          <div class="marketplace-votes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: votesText"></oj-text>
          </div>

          <div class="marketplace-dTimes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: downloadTimesText"></oj-text>
          </div>

        </div>

      </div>

      <div class="help-item-center marketplace-grid-cenas4">

        <div class="atr-component-whitebox marketplace-previewComponent-grid">

          <div class="marketplace-title">
            <span class="marketplace-title" data-bind="text: marketplacetitle"></span>
          </div>

          <div class="marketplace-c">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: left; justify-content: left"
              data-bind="text: categoryText"></oj-text>
          </div>

          <div class="marketplace-updated">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: right; justify-content: right"
              data-bind="text: updatedText"></oj-text>
          </div>

          <div class="marketplace-Image">
            <img style="width: 560px; height:300px" src="./css/images/teste.png">
          </div>

          <div class="help-item-center marketplace-logo">
            <img style="width: 90px; height:60px" src="./css/images/cap_logo.png">
          </div>

          <div class="marketplace-user">
            <img style="height: 22px; position: relative; top: 4px;" src="./css/images/flags/Portugal.png"></img><oj-text class="marketplace-text" style="justify-content: right;"
            data-bind="text: userText"></oj-text>
        </div>

          <div class="marketplace-rating">
            <oj-text class="marketplace-text" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: ratingText"></oj-text>
          </div>

          <oj-button class="marketplace-dButton atr-button-highlight"><span data-bind="text: downloadButtonText"></span></oj-button>

          <div class="marketplace-cName">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: companieNameText"></oj-text>
          </div>

          <div class="marketplace-votes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: votesText"></oj-text>
          </div>

          <div class="marketplace-dTimes">
            <oj-text class="marketplace-subtext" style="display: flex; align-items: center; justify-content: center"
              data-bind="text: downloadTimesText"></oj-text>
          </div>

        </div>

      </div>

    </div>

  

<!-- //////////////////////////////////////////////////////////////////////////////// CSS ////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<style>
  .help-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .help-item-right {
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .help-item-left {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .help-item-title {
    display: flex;
    align-items: end;
    justify-content: start;
  }

  .help-item-subtitle {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .marketplace-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: black;
  }

  .marketplace-subtext {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    color: grey;
  }

  .marketplace-title {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 25px;
    color: black;
  }


  .marketplace-grid-components {
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-area: componentsArea;
    grid-template-columns: minmax(min-content, 1fr) 5px 620px 5px 620px;
    grid-template-rows: 100px 40px 500px 500px;
    grid-template-areas:
      "menu1 . searchBar searchBar searchBar"
      "menu1 . . . ."
      "menu1 . cenas1 . cenas2"
      "menu1 . cenas3 . cenas4";
  }

  .marketplace-grid-menu1 {
    grid-area: menu1;
  }

  .marketplace-grid-searchBar {
    grid-area: searchBar;
  }

  .marketplace-grid-cenas1 {
    grid-area: cenas1;
  }

  .marketplace-grid-cenas2 {
    grid-area: cenas2;
  }

  .marketplace-grid-cenas3 {
    grid-area: cenas3;
  }

  .marketplace-grid-cenas4 {
    grid-area: cenas4;
  }

  .marketplace-searchbar-components {
    display: grid;
    grid-area: searchBar;
    grid-template-columns: 1055px 5px 140px;
    grid-template-rows: 5px 30px 10px 40px;
    grid-template-areas:
      ". . ."
      "filter . searchButton"
      ". . ."
      ". dropdown dropdown";
  }

  .marketplace-searchbar-filter {
    grid-area: filter;
  }

  .marketplace-searchbar-searchButton {
    grid-area: searchButton;
  }

  .marketplace-searchbar-dropdown {
    grid-area: dropdown;
  }

  .marketplace-previewComponent-grid {
    display: grid;
    grid-template-columns: 10px 100px 10px 150px 10px 80px 10px 200px 10px;
    grid-template-rows: 5px 30px 5px 20px 5px 300px 10px 30px 30px 10px;
    grid-template-areas:
      ". . . . . . . . . "
      ". title title title title title title title . "
      ". . . . . . . . . "
      ". c . . . . . updated . "
      ". . . . . . . . . "
      ". Image Image Image Image Image Image Image . "
      ". . . . . . . . . "
      ". logo . user . rating . dButton . "
      ". logo . cName . votes . dTimes . "
      ". . . . . . . . . ";
  }

  .marketplace-title {
    grid-area: title;
  }

  .marketplace-c {
    grid-area: c;
  }

  .marketplace-updated {
    grid-area: updated;
  }

  .marketplace-Image {
    grid-area: Image;
  }

  .marketplace-logo {
    grid-area: logo;
  }

  .marketplace-user {
    grid-area: user;
    justify-self: end;
    align-self: start;
    position: relative;
    top: 3px;
    left: -2px;
  }

  .marketplace-rating {
    grid-area: rating;
    justify-self: start;
    align-self: end;
  }

  .marketplace-dButton {
    grid-area: dButton;
  }

  .marketplace-cName {
    grid-area: cName;
    justify-self: start;
    align-self: start;
  }

  .marketplace-votes {
    grid-area: votes;
    justify-self: start;
    align-self: start;
  }

  .marketplace-dTimes {
    grid-area: dTimes;
    position: relative;
    top: 5px;
  }
</style>